body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:45px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u12961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:1471px;
  height:880px;
  display:flex;
}
#u12962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12963 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:74px;
  width:424px;
  height:587px;
  display:flex;
}
#u12963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:263px;
}
#u12964 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:146px;
  width:341px;
  height:263px;
  display:flex;
}
#u12964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12965 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:102px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12966 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:74px;
  width:449px;
  height:587px;
  display:flex;
}
#u12966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12967 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:74px;
  width:424px;
  height:587px;
  display:flex;
}
#u12967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12968 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:91px;
  width:40px;
  height:40px;
  display:flex;
}
#u12968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12969 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:102px;
  width:1px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u12970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12970 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:91px;
  width:40px;
  height:40px;
  display:flex;
}
#u12970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12971 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:102px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12972 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:156px;
  width:103px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12973 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:146px;
  width:300px;
  height:38px;
  display:flex;
}
#u12973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12974 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:217px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12975 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:206px;
  width:140px;
  height:40px;
  display:flex;
}
#u12975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12976 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:260px;
  width:218px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12977 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:298px;
  width:101px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12978 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:298px;
  width:300px;
  height:151px;
  display:flex;
}
#u12978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12979 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:475px;
  width:58px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12980 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:475px;
  width:300px;
  height:151px;
  display:flex;
}
#u12980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12981 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:91px;
  width:40px;
  height:40px;
  display:flex;
}
#u12981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12982 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:102px;
  width:73px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u12983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12983 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:102px;
  width:94px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u12983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:472px;
}
#u12984 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:146px;
  width:387px;
  height:472px;
  display:flex;
}
#u12984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12985 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:772px;
  width:1257px;
  height:88px;
}
#u12986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:30px;
}
#u12986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:30px;
  display:flex;
  color:#000000;
}
#u12986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u12987 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:280px;
  height:30px;
  display:flex;
  color:#000000;
}
#u12987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u12988 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:0px;
  width:231px;
  height:30px;
  display:flex;
}
#u12988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u12989 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:0px;
  width:244px;
  height:30px;
  display:flex;
}
#u12989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u12990 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:237px;
  height:30px;
  display:flex;
}
#u12990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
}
#u12991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:265px;
  height:29px;
  display:flex;
  color:#000000;
}
#u12991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
}
#u12992 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:30px;
  width:280px;
  height:29px;
  display:flex;
}
#u12992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:29px;
}
#u12993 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:30px;
  width:231px;
  height:29px;
  display:flex;
}
#u12993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:29px;
}
#u12994 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:30px;
  width:244px;
  height:29px;
  display:flex;
}
#u12994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
}
#u12995 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:30px;
  width:237px;
  height:29px;
  display:flex;
}
#u12995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
}
#u12996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:265px;
  height:29px;
  display:flex;
  color:#000000;
}
#u12996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
}
#u12997 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:59px;
  width:280px;
  height:29px;
  display:flex;
}
#u12997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:29px;
}
#u12998 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:59px;
  width:231px;
  height:29px;
  display:flex;
}
#u12998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:29px;
}
#u12999 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:59px;
  width:244px;
  height:29px;
  display:flex;
}
#u12999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
}
#u13000 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:59px;
  width:237px;
  height:29px;
  display:flex;
}
#u13000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13001 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:741px;
  width:270px;
  height:16px;
  display:flex;
}
#u13001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13002 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:700px;
  width:117px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u13002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13003 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:749px;
  width:70px;
  height:16px;
  display:flex;
}
#u13003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
