.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._图片 {
}
._形状 {
  font-size:10px;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.basicbutton {
  font-family:'Roboto Normal', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.basicbutton-outline {
  font-family:'Roboto Normal', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._流程形状 {
}
.tree_node {
  text-align:left;
}
._连接 {
}
.sticky_2 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._图片1 {
  color:#000000;
}
.box_1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.line {
}
._图片_ {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.ellipse {
}
.box_2 {
}
.ellipse1 {
}
._形状1 {
}
.box_3 {
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
.image {
  color:#000000;
}
.flow_shape {
}
.text_area {
  color:#000000;
  text-align:left;
}
.image1 {
}
._默认样式 {
}
._表单禁用 {
}
._链接按下 {
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
._形状3 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
.table_cell {
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.radio_button {
  text-align:left;
}
.link_button {
  color:#169BD5;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状4 {
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._图片2 {
  color:#000000;
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._水平线 {
}
._表单提示 {
  color:#999999;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.shape2 {
}
.image2 {
  color:#000000;
}
.vertical_line {
}
.radio_button1 {
  text-align:left;
}
.tree_node1 {
  text-align:left;
}
.iconfont {
  font-family:'iconfont Normal', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._形状5 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#4EDB7C;
}
._图片_1 {
  color:#000000;
}
._线段 {
}
._垂直线 {
}
._形状6 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.box_21 {
}
._形状7 {
}
.ellipse2 {
}
.box_31 {
}
._默认样式1 {
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.box_32 {
}
._链接悬停 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._链接按下1 {
}
._图片_2 {
}
.font_awesome_5_pro {
  font-family:'Font Awesome 5 Pro Black', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
}
.marker {
  color:#FFFFFF;
}
._形状8 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  line-height:24px;
}
._文本段落2 {
  text-align:left;
}
.box_22 {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.box_12 {
}
.paragraph2 {
  text-align:left;
}
.image3 {
  color:#000000;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.shape3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon1 {
}
.table_cell1 {
}
.line1 {
}
.marker1 {
  color:#FFFFFF;
}
.box_13 {
}
._图片_3 {
}
.input-placeholder {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C4CC;
  text-align:left;
}
._图片_4 {
}
textarea, select, input, button { outline: none; }
